.container {
  border: 1px solid #cdcdcd;
  background-color: #f8f8f8;
  border-radius: 6px;
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
}
.container_dark {
  border: 1px solid #2a3b47;
  background-color: #9a90ef1a;
  border-radius: 6px;
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
}

.icon {
  font-size: 1.4rem;
}

.input_placeholder::placeholder {
  color: #cdcdcd;
}
.input_placeholder_dark::placeholder {
  color: #f8f8f8;
}
