.pill {
  color: #115dfe;
  background-color: #004ce54c;
  font-weight: bold;
  border-radius: 6px;
}
.pill_dark {
  color: #0ec7e0;
  background-color: #52a5e03f;
  font-weight: bold;
  border-radius: 6px;
}
