.card_container {
  background-color: #f8f8f8;
  border: 1px solid #cdcdcd;
  padding: 0rem;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  /*position: relative;*/
  margin: 0.2rem 0;
  box-shadow: 0px 5px 6px -6px #696969bf;
}
.card_container:hover {
  border: 1px solid #696969;
  transition: all 0.2s ease-in-out;
}
.card_container_dark {
  background-color: #9a90ef1a;
  border: 1px solid #2a3b47;
  padding: 0rem;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  position: relative;
  margin: 0.2rem 0;
  box-shadow: 0px 5px 6px -6px #262749bf;
}
/* .card_container_dark:hover {
  border: 1px solid #cdcdcd;
  transition: all 0.2s ease-in-out;
} */

.card_container_dark:hover {
  background-color: #9a90ef1a;
  transition: all 0.2s ease-in-out;
}

.card_drag_icon {
  height: 3.3rem;
  border-radius: 6px;
  font-size: 1.5rem;
  color: #696969;
}

.card_drag_icon:hover {
  transition: all 0.2s ease-in-out;
  background-color: #efefef;
}
.card_drag_icon_dark {
  height: 3.3rem;
  border-radius: 6px;
  font-size: 1.5rem;
  color: #eff3f5;
}

.card_drag_icon_dark:hover {
  transition: all 0.2s ease-in-out;
  background-color: #262749;
}

.process_col {
  border-radius: 6px;
  width: 100%;
  padding: 0.5rem;
}
.process_col:hover {
  background-color: #f8f8f8;
  transition: all 0.2s ease-in-out;
}
.process_col_dark {
  border-radius: 6px;
  width: 100%;
  padding: 0.5rem;
}
.process_col_dark:hover {
  background-color: #9a90ef1a;
  transition: all 0.2s ease-in-out;
}
.verticalDots {
  stroke-width: 2;
  font-size: 1rem;
  padding: 0.2rem;
  color: #696969;
}
.verticalDots:hover {
  cursor: pointer;
  border-radius: 6px;
  background-color: #9a90ef1a;
  transition: all 0.2s ease-in-out;
}
.verticalDots_dark {
  stroke-width: 2;
  font-size: 1rem;
  padding: 0.2rem;
  color: #eff3f5;
}
.verticalDots_dark:hover {
  cursor: pointer;
  border-radius: 6px;
  background-color: #9a90ef1a;
  transition: all 0.2s ease-in-out;
}

/* -------------------------------------- These classes are  special considerations for the app -------------------------------------- */

.containercolumns {
  width: 100%;
  background-color: #ffffff;
  border-radius: 6px;
  border: 2px solid #cdcdcd;
  padding: 0.5rem;
}

.containercolumns_dark {
  width: 100%;
  background-color: #9a90ef1a;
  border-radius: 6px;
  border: 2px solid #29363f;
  padding: 0.5rem;
}
.columns:hover {
  background-color: #f8f8f8;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}
.columns_dark:hover {
  background-color: #9a90ef1a;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.espera:hover {
  background-color: #e5db004d;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
}
.generacion:hover {
  background-color: #e660004d;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
}
.pagado:hover {
  background-color: #12e5004d;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
}
.entregado:hover {
  background-color: #033eb24d;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
}
.rechazado:hover {
  background-color: #ff00004d;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
}

.userDbCard {
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  color: #696969;
  box-shadow: 0px 10px 12px -5px #cdcdcdbf;
  padding: 10px 15px;
  cursor: pointer;
}
.userDbCard:hover {
  color: #115dfe;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
}
.userDbCard_item {
  border-radius: 6px;
  padding: 5px 8px;
  cursor: default;
}
.userDbCard_item:hover {
  background-color: #115dfe4d;
  color: #115dfe;
  transition: all 0.3s ease-in-out;
}
.userDbCard_dark {
  border-radius: 6px;
  border: 1px solid #2a3b47;
  box-shadow: 0px 10px 12px -5px #262749bf;
  color: #eff3f5;
  padding: 10px 15px;
  cursor: default;
}
.userDbCard_dark:hover {
  color: #52a5e0;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
}
.userDbCard_item_dark {
  border-radius: 6px;
  padding: 5px 8px;
  cursor: default;
}
.userDbCard_item_dark:hover {
  background-color: #52a5e04d;
  color: #52a5e0;
  transition: all 0.3s ease-in-out;
}
