.container_inside {
  border: 1px solid #cdcdcd;
  padding: 0.8rem;
  border-radius: 6px;
  background-color: #f8f8f8;
}

.container_inside_dark {
  border: 1px solid #2a3b47;
  padding: 0.8rem;
  border-radius: 6px;
  background-color: #2a3b47;
}
