.countIndicator {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  padding: 0.2rem 0.8rem;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  height: 100%;
}
.countIndicator:hover {
  background-color: #efefef;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
.countIndicator span {
  margin-bottom: -0.3rem;
}
.countIndicator p {
  font-size: 1.2rem;
}

.countIndicator_Icon {
  font-size: 1.6rem;
  color: #004ee5;
}
