/* This is a simple test for mediaQuery implementation*/

/* ----------------------- Section: Dashboard ----------------------- */
/* ----------------------------- Drawer ----------------------------- */
@media (min-width: 1280px) {
  .drawer {
    height: 100vh;
  }
  .drawer_body {
    height: 100%;
    padding: 1rem;
  }
}
@media (min-width: 1281px) {
  .drawer {
    height: 100vh;
  }
  .drawer_body {
    height: 100%;
    padding: 1rem;
  }
}

/* --------------------------- Scrollarea --------------------------- */
@media (min-width: 1280px) {
  .drawer_scrollarea {
    height: 86vh;
  }
}
@media (min-width: 1281px) {
  .drawer_scrollarea {
    height: 82.5vh;
  }
}
@media (min-width: 1280px) {
  .InsideContainer_scrollarea {
    height: 84vh;
  }
}
@media (min-width: 1281px) {
  .InsideContainer_scrollarea {
    height: 80vh;
  }
}

/* -------------------------- Process Section -------------------------- */
@media (min-width: 1280px) {
  .card_process {
    width: 15rem;
  }
}
@media (min-width: 1281px) {
  .card_process {
    width: 18.5rem;
  }
}
@media (min-width: 1280px) {
  .column_process_parent {
    height: 78.8vh;
    margin-top: 0.5rem;
    width: 100%;
  }
}
@media (min-width: 1281px) {
  .column_process_parent {
    height: 74.1vh;
    margin-top: 0.5rem;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .column_process_children {
    height: 78.8vh;
  }
}
@media (min-width: 1281px) {
  .column_process_children {
    height: 74.1vh;
  }
}

/* -------------------------- Chat Section -------------------------- */
@media (min-width: 1280px) {
  .chatCard_container {
    height: 83vh;
  }
}
@media (min-width: 1281px) {
  .chatCard_container {
    height: 80vh;
  }
}
@media (min-width: 1280px) {
  .chat_container {
    height: 74vh;
  }
}
@media (min-width: 1281px) {
  .chat_container {
    height: 68vh;
  }
}
@media (min-width: 1280px) {
  .difusionList_scroll_container {
    height: 69.5vh;
  }
}
@media (min-width: 1281px) {
  .difusionList_scroll_container {
    height: 63.1vh;
  }
}
@media (min-width: 1280px) {
  .formats_scroll_container {
    height: 72.2vh;
  }
}
@media (min-width: 1281px) {
  .formats_scroll_container {
    height: 65.5vh;
  }
}
/* -------------------------- Metrics Section -------------------------- */
@media (min-width: 1280px) {
  .metrics_container {
    height: 81vh;
  }
}
@media (min-width: 1281px) {
  .metrics_container {
    height: 75vh;
  }
}
/* -------------------------- Mail Section -------------------------- */
@media (min-width: 1280px) {
  .sendMail_scroll_container {
    height: 71vh;
  }
}
@media (min-width: 1281px) {
  .sendMail_scroll_container {
    height: 64vh;
  }
}
/* -------------------------- Calendar Section -------------------------- */
@media (min-width: 1280px) {
  .calendarColumn__right_container {
    height: 72.3vh;
  }
}
@media (min-width: 1281px) {
  .calendarColumn__right_container {
    height: 66.5vh;
  }
}
@media (min-width: 1280px) {
  .calendarColumn__right_scrollbar {
    height: 69vh;
  }
}
@media (min-width: 1281px) {
  .calendarColumn__right_scrollbar {
    height: 62vh;
  }
}
@media (min-width: 1280px) {
  .calendarColumn__right_dates {
    height: 71.5vh;
  }
}
@media (min-width: 1281px) {
  .calendarColumn__right_dates {
    height: 65.5vh;
  }
}
@media (min-width: 1280px) {
  .calendarGrid_container {
    height: 71.5vh;
  }
}
@media (min-width: 1281px) {
  .calendarGrid_container {
    height: 65.5vh;
  }
}
/* -------------------------- Data Base Section -------------------------- */
@media (min-width: 1280px) {
  .DB_container {
    height: 77vh;
  }
}
@media (min-width: 1281px) {
  .DB_container {
    height: 72vh;
  }
}
/* -------------------------- Alarm Section -------------------------- */
@media (min-width: 1280px) {
  .createFolder_scroll_container {
    height: 68vh;
  }
}
@media (min-width: 1281px) {
  .createFolder_scroll_container {
    height: 60vh;
  }
}
@media (min-width: 1280px) {
  .createAlarm_scroll_container {
    height: 45vh;
  }
}
@media (min-width: 1281px) {
  .createAlarm_scroll_container {
    height: 31vh;
  }
}
