.header {
  position: sticky;
  top: 0;
  background-color: #fff;
  transition: box-shadow 150ms ease;
}

.header_dark {
  position: sticky;
  top: 0;
  background-color: #484566;
  transition: box-shadow 150ms ease;
}

/* .header_dark:hover {
  background-color: #a01818;
  transition: all 0.2s ease-in-out;
} */

.header::after {
  content: "";
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 3px solid #004ee5;
}

.header_dark::after {
  content: "";
  background-color: #484566;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 3px solid #52a5e0;
}

/* .scrolled {
  border-bottom: 2px solid red;
  background-color: red;
} */
.row {
  cursor: default;
}

.row_dark {
  cursor: default;
}

.row:hover {
  background-color: #efefef;
  transition: all 0.2s ease-in-out;
}

.row_dark:hover {
  background-color: #484566;
  transition: all 0.2s ease-in-out;
}

.thead_row {
  background-color: white;
  color: #696969;
}
.thead_row_dark {
  background-color: #484566;
  color: #efefef;
}
