.history_container_card {
  cursor: default;
  border-radius: 6px;
  width: 100%;
  background-color: #f8f8f8;
  padding: 0.5rem 1.2rem;
  border: 1px solid #cdcdcd;
}
.history_container_card:hover {
  background-color: #efefef;
  transition: all 0.2s ease-in-out;
}
.history_container_card_dark {
  cursor: default;
  border-radius: 6px;
  width: 100%;
  background-color: #9a90ef1a;
  padding: 0.5rem 1.2rem;
  border: 1px solid #29363f;
}
.history_container_card_dark:hover {
  background-color: #3a4c5a;
  transition: all 0.2s ease-in-out;
}
.events_container_card {
  cursor: default;
  border-radius: 6px;
  width: 100%;
  max-width: 100%;
  background-color: #f8f8f8;
  padding: 0.5rem 1.2rem;
  border: 1px solid #cdcdcd;
}
/* .events_container_card:hover {
  background-color: #efefef;
  transition: all 0.2s ease-in-out;
} */
.events_container_card_dark {
  cursor: default;
  border-radius: 6px;
  width: 100%;
  background-color: #9a90ef1a;
  padding: 0.5rem 1.2rem;
  border: 1px solid #29363f;
}
/* .events_container_card_dark:hover {
  background-color: #3a4c5a;
  transition: all 0.2s ease-in-out;
} */

.btn_dots {
  stroke-width: 1;
  font-size: 2.5rem;
  padding: 0.2rem;
  color: #696969;
}
.btn_dots:hover {
  cursor: pointer;
  border-radius: 6px;
  background-color: #9a90ef1a;
  transition: all 0.2s ease-in-out;
}
.btn_dots_dark {
  stroke-width: 1;
  font-size: 2.5rem;
  padding: 0.2rem;
  color: #eff3f5;
}
.btn_dots_dark:hover {
  cursor: pointer;
  border-radius: 6px;
  background-color: #9a90ef1a;
  transition: all 0.2s ease-in-out;
}

.events_table_header {
  color: #696969;
  background-color: #fff;
  /* border-bottom: 3px solid #115dfe; */
}
.events_table_header_dark {
  color: #eff3f5;
  background-color: #9a90ef1a;
  /* border-bottom: 3px solid #52a5e0; */
}
.events_table_body {
  color: #696969;
  background-color: #fff;
  /* border-bottom: 3px solid #115dfe; */
}
.events_table_body_dark {
  color: #eff3f5;
  background-color: #9a90ef1a;
  /* border-bottom: 3px solid #52a5e0; */
}

.filter_input::placeholder {
  color: #cdcdcd;
}
/* .filter_input_dark::placeholder {
  color: #cdcdcd;
} */
