.sidebar {
  width: 70px;
  height: 100vh;
  border-right: 1px solid #cdcdcd;
  padding: 1rem 0rem;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */
  background-color: #f8f8f8;
}

.sidebar_dark {
  width: 70px;
  height: 100vh;
  border-right: 1px solid #192229;
  padding: 1rem 0rem;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */
  background-color: #9a90ef1a;
}

.iconContainer {
  color: #000;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.8rem;
  /* margin: 0.8rem 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconContainer_dark {
  color: #eff3f5;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconContainer:hover {
  border-radius: 6px;
  background-color: #fff;
  color: #004ee5;
  transition: 0.3s ease-in-out all;
}

.iconContainer_dark:hover {
  border-radius: 6px;
  background-color: #9a90ef2f;
  color: #fff;
  transition: 0.3s ease-in-out all;
}

.icon {
  width: 1.6rem;
  height: 1.6rem;
  /* color: #0b1115; */
  /* font-size: 1.6rem; */
}
.icon:hover {
  color: #004ee5;
  transition: all 0.2s ease-in-out;
}
.icon[data-active] {
  color: #004ee5;
  transition: all 0.2s ease-in-out;
}
.icon_dark {
  width: 1.6rem;
  height: 1.6rem;
  color: #eff3f5;
}
.icon_dark[data-active]:hover {
  color: #52a5e0;
  transition: all 0.2s ease-in-out;
}

.icon_dark[data-active] {
  color: #004ee5;
  transition: all 0.2s ease-in-out;
}

.iconContainer[data-active],
.iconContainer[data-active]:hover {
  border-radius: 6px;
  background-color: #fff;
  color: #004ee5;
  transition: 0.2s ease-in-out all;
  /* border: 2px solid red; */
}

.iconContainer_dark[data-active],
.iconContainer_dark[data-active]:hover {
  border-radius: 6px;
  background-color: #fff;
  color: #004ee5;
  transition: 0.2s ease-in-out all;
}

/* .icon[data-active],
.icon[data-active]:hover {
  color: #e52200;
  transition: all 0.3s ease-in-out;
} */

/* .active {
  border: 2px solid #cdcdcd;
  border-radius: 6px;
  background-color: #fff;
  color: #004ee5;
}

.active:hover {
  border: 2px solid #cdcdcd;
  border-radius: 6px;
  background-color: #fff;
  color: #004ee5;
} */

/* .sidebar {
  width: 70px;
  height: 100vh;
  border-right: 2px solid #cdcdcd;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
}

.iconContainer {
  background-color: #f8f8f8;
  color: #000;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconContainer:hover {
  border-radius: 6px;
  background-color: #fff;
  border-color: #cdcdcd;
  color: #004ee5;
  transition: 0.3s ease-in-out all;
}

.icon {
  width: 1.6rem;
  height: 1.6rem;
  /* color: #000; 
}
.icon:hover {
  color: #004ee5;
}

.active {
  border: 2px solid #cdcdcd;
  border-radius: 6px;
  background-color: #fff;
  color: #004ee5;
}

.active:hover {
  border: 2px solid #cdcdcd;
  border-radius: 6px;
  background-color: #fff;
  color: #004ee5;
}

.iconContainer[data-active],
.iconContainer[data-active]:hover {
  border-radius: 6px;
  background-color: #fff;
  color: #004ee5;
  transition: 0.3s ease-in-out all;
} */
